# Virtual environment
/root/teste_nubank/venv/
teste_nubank/venv/
venv/

# Python compiled files
__pycache__/
*.pyc

# Pytest cache
.pytest_cache/

# Distribution / packaging
*.egg-info/
dist/
build/
eggs/

# Environment files
*.env
.env
.env.local

# IDE / Editor files
*.swp
*.swo
*~